.git
.idea
.vscode
node_modules
frontend/node_modules
frontend/dist
backend/__pycache__
backend/temp
backend/static
厅机关公文格式基本要求.docx
webword-*.zip
webword-*.tar
*.pyc
*.pyo
*.log
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
